@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

$btn1-color: #4d96a9;
$btn2-color: #855fb1;
$btn1-hover: #71c0d4;
$btn2-hover: #b18bdd;
$h-color: #28283d;
$p-color: #87879d;
$background-color: #f2f2f2;
$white: #fafafa;
$span1: #8fe3f9;
$line-color: rgba(135, 135, 157, 0.25);
$footer-bg-color: #4d96a9;
$btn-2-span: #d9b8ff;
$about-p-color: #4d96a9;
$about-h2-color: #28283d;
$line-color: #87879d;
$about-p2-color: #87879d;

body {
  background-color: $background-color;
}
@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
